.box {
    display: inline-block;
    position: relative;
    vertical-align: middle;

}
.empty-box{
    background-color: grey;
}
.filled-box {
    background-color: black;
}
.row {
    vertical-align: middle;
}
.container {
    display: block;
    width: 500px;
    margin: auto;
    border-radius: 20px;
    overflow: hidden;
}
button {
    margin: 20px auto;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px; 
}
button:hover {
    background-color: red;
}
